<%- include('layouts/header') %>
<main>
    <div class="container my-5">
        <h2 class="text-center">List Booking</h2>
        <table class="table table-bordered table-striped mt-4">
          <thead class="table-dark">
            <tr>
              <th>ID</th>
              <th>customerName</th>
              <th>Date</th>
              <th>Time</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <% books.forEach(book => { %>
                 <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
                    <td class="px-6 py-4"><%= book.id %></td>
                    <td class="px-6 py-4"><%= book.customerName %></td>
                    <td class="px-6 py-4"><%= book.date %></td>
                    <td class="px-6 py-4"><%= book.time %></td>
                    
                    <!-- Trạng thái với màu sắc tương ứng -->
                    <td class="px-6 py-4">
                        <span class="badge"
                            <% if (book.status === 'Pending') { %>
                                style="background-color: yellow; color: black;"
                            <% } else if (book.status === 'Confirmed') { %>
                                style="background-color: green; color: white;"
                            <% } else if (book.status === 'Cancelled') { %>
                                style="background-color: red; color: white;"
                            <% } %>
                        > 
                            <%= book.status %>
                        </span>
                    </td>
                    
                    <!-- Hành động: Edit và Delete -->
                    <td class="px-6 py-4">
                        <!-- Edit -->
                        <a href="/books/edit/<%= book._id %>"
                            class="font-medium text-blue-600 dark:text-blue-500 hover:underline" 
                            style="margin-right: 20px;">Edit</a>
 
                        <!-- Delete Form -->
                        <form method="POST" action="/books/delete/<%= book._id %>"style="display: inline;">
                            <input type="hidden" name="_method" value="DELETE" />
                            <button type="submit" class="font-medium text-red-600 dark:text-red-500 hover:underline">
                                Delete
                            </button>
                        </form>
                    </td>
                 </tr>
            <% }) %>
          </tbody>
        </table>
        
        <div class="d-flex justify-content-end">
          <button class="btn btn-success" onclick="window.location.href='/books/new'">Add Booking</button>
        </div>
    </div>
</main>
<%- include('layouts/footer') %>
